{%extends "blog/base.html"%}

{%load blog_tags%}

{%block title%}{{post.title}}{%endblock%}

{%block content%}
    <h2>{{post.title}}</h2>
    <h5 class="date">Published on {{post.publish}} by {{post.author}}</h5>
    <p>{{post.body|markdown}}</p>
    <h4><a href="{%url "blog:post_share" post.id%}">Share this post</a></h4>
    {%with comments.count as total_comments%}
        <h3>
            {{total_comments}} comment{{total_comments|pluralize}}
        </h3>
    {%endwith%}

    <h2>Similar posts</h2>
    {%for post in similar_posts%}
        <div class="similar-posts">
            <p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
            {%empty%}
            <p>There are no similar posts yet.</p>
            {%endfor%}
        </div>

    {%for comment in comments%}
        <div class="comment">
            <h5 class="info">
                Comment {{forloop.counter}} by {{comment.name}} {{comment.created}}
            </h5>
            <p>{{comment.body|linebreaks}}</p>
        </div>
    {%empty%}
        <h5>There are no comments yet</h5>
    {%endfor%}

    {%if new_comment%}
        <h3>Your comment has been added</h3>
    {%else%}
        <h3>Add a new comment</h3>
        <form class="" method="post">
            {{comment_form.as_ul}}
            {%csrf_token%}
            <input type="submit" name="" value="Add comment">
        </form>
    {%endif%}
{%endblock%}
